# ======================
# Node / Expo
# ======================
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# ======================
# Android / Gradle
# ======================
android/.gradle/
android/build/
android/app/build/
local.properties

# ======================
# Logs
# ======================
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# ======================
# IDE / OS
# ======================
.idea/
*.iml
.DS_Store
Thumbs.db

# ======================
# Security
# ======================
*.jks
*.keystore
*.pem

# ======================
# TypeScript
# ======================
*.tsbuildinfo
